{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "voidboomsmall"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 2.5,
      "delaySteps" : 2
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/voidshockhit.ogg" ]
    }
  ]
}
