## Basic files to ignore
*.exe
*.txt
*.pdn
*.jpg
*.jpeg
*.gif
*.apng
*.agif
*.bat

# Folders to ignore

## Compressed Folders
*.zip
*.rar
*.7z
*.tar
*.tar.gz

## Windows hidden files.
Thumbs.db
ehthumbs.db
Desktop.ini
*.cab
*.msi
*.msm
*.msp
.DS_Store
*.lnk
._*
$RECYCLE.BIN/
.AppleDB
.Spotlight-V100
.Trashes
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
_MACOSX
