{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/chests/chestheader1to300.png",
			"fileBody" : "/interface/chests/slots1to300.png",
			"fileFooter" : "/interface/chests/chestfooter1to300.png"
		},
		"itemGrid" : {
			"type" : "itemgrid",
			"position" : [4, 29],
			"dimensions" : [20, 15],
			"spacing" : [19, 19],
			"backingImage" : "/interface/inventory/empty.png"
		},
		"count" : {
			"type" : "label",
			"value" : "%slots% SLOTS",
			"hAnchor" : "mid",
			"position" : [193, 318]
		},
		"overlay" : {
			"type" : "image",
			"file" : "/interface/chests/shine1to300.png",
			"position" : [0, 0]
		}
	}
}
